$color-otter: #cc3300;
$color-notter: #006b9c;

html {
	font-family: sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

/* Help */
.help {
	background: $color-otter;
	color: white;
	font-size: 0.75em;
}